<nav class="p-2">
   <div class="links">
     <ul>
       <li><a href="/">home</a></li>
       <li><a href="/about">abote</a></li>
       <li><a href="/contact">contact</a></li>
     </ul>
   </div>
   <div class="searchBox d-flex">
     <form action="/shoesSearch" class="d-flex" method="post">
       <input
         type="text"
         id="search"
         name="parameter"
         class="form-control"
         placeholder="نام، رنگ، سایز و..."
       />
       <input
         class="btn btn-success form-control"
         type="submit"
         value="جست و جو"
       />
     </form>
   </div>
 </nav>